<!DOCTYPE html>
<html>
<head>
    <title>persian interval datepicker</title>
    <meta charset="utf-8"/>
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css"
          rel="stylesheet"/>
    <!--<link rel="stylesheet"-->
    <!--href="//cdn.rawgit.com/morteza/bootstrap-rtl/v3.3.4/dist/css/bootstrap-rtl.min.css">-->
    <link href="../../bower_components/bootstrap/dist/css/bootstrap-theme.min.css"
          rel="stylesheet"/>

    <link href="../assets/vtDatePicker/datepicker.css"
          rel="stylesheet">

    <script src="../../bower_components/moment/min/moment.min.js"></script>
    <script src="../../bower_components/moment-jalaali/build/moment-jalaali.js"></script>
    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="../assets/vtDatePicker/persiandate.js"></script>
    <script src="../assets/vtDatePicker/persian-datepicker-tpls.js"></script>

    <script src="../persian-interval-datepicker.js"></script>
    <script>
        angular.module('demo', ['ui.bootstrap.persian.interval.datepicker']).controller('SampleCtrl', function ($scope) {
            $scope.$watch('dateInterval', function () {
                $scope.errors = $scope.form.interval;
            });
        });
    </script>
</head>
<body ng-app="demo">
<div class="container">
    <div class="page-header">
        <h1>Persian Interval DatePicker
            <small>(ui.bootstrap.persian.interval.datepicker)</small>
        </h1>
    </div>
    <div class="row"
         ng-controller="SampleCtrl">
        <div class="col-md-6 show-grid">
            <div>
                <form name="form">
                    <persian-interval-datepicker name="interval"
                                                 display="inline"
                                                 start-date-model="StartDate"
                                                 start-date-placeholder="Start Date"
                                                 end-date-placeholder="End Date"
                                                 range-max="10"
                                                 range-min="5"
                                                 required
                                                 ng-model="interval"
                                                 format="yyyy/MM/dd">

                    </persian-interval-datepicker>

                    <pre><b>ModelValue:</b> {{interval}}</pre>
                    <pre><b>Errors:</b>{{errors.$error | json}}</pre>
                </form>
            </div>
            <div>
                <h3>Inline Datepicker </h3>
                <pre>
&ltpersian-interval-datepicker name="interval"
          display="inline"
          start-date-model="StartDate"
          start-date-placeholder="Start Date"
          end-date-placeholder="End Date"
          range-max="10"
          range-min="5"
          required
          ng-model="dateInterval"
          format="yyyy/MM/dd"&gt
&lt/persian-interval-datepicker&gt
            </pre>
            </div>
            <div>
                <persian-interval-datepicker
                        name="interval"
                        display="multiline"
                        start-date-label="Start Date:"
                        end-date-label="End Date"
                        ng-model="multilineInterval"
                        format="yyyy/MM/dd"></persian-interval-datepicker>
            </div>
            <div>
                <h3>Multiline Datepicker</h3>
                <pre>
&ltpersian-interval-datepicker
       display="multiline"
       start-date-label="Start Date:"
       end-date-label="End Date"
       ng-model="multilineInterval"
       format="yyyy/MM/dd"&gt
&lt/persian-interval-datepicker&gt
                </pre>
            </div>
        </div>
        <div class="col-md-6">
            <p>Persian interval Datepicker based on
                <a href="http://aminrahimi.github.io/angular-bootstrap-persian-datepicker/">Amin Rahimi's</a> Persian
               Datepicker
            </p>
            <h3>persian-interval-datepicker attributes</h3>
            <ul>
                <li>
                    <p>
                        <code>display</code> <i class="glyphicon glyphicon-eye-open"></i>
                        <em>(Defaults: inline)</em> : could be <em>inline</em> or <em>multiline</em> for displaying
                                                    Datepickers
                    </p>
                </li>
                <li>
                    <p>
                        <code>format</code> <i class="glyphicon glyphicon-eye-open"></i>
                        <em>(Defaults: yyyy/MM/dd)</em> format of displaying date in Datepickers
                    </p>
                </li>
                <li>
                    <p>
                        <code>start-date-model</code>
                        <em>(Defaults: startDate)</em> name of the startdate of interval, <em>ng-model</em> of
                                                       datapicker consist of combination of startDate and endDate
                    </p>
                </li>
                <li>
                    <p>
                        <code>end-date-model</code>
                        <em>(Defaults: endDate)</em> name of the enddate of interval, <em>ng-model</em> of
                                                     datapicker consist of combination of startDate and endDate
                    </p>
                </li>
                <li>
                    <p>
                        <code>start-date-label</code>
                        if defined, label with this attribute value will be placed before startDate Datepicker
                    </p>
                </li>
                <li>
                    <p>
                        <code>end-date-label</code>
                        if defined, label with this attribute value will be placed before endDate Datepicker
                    </p>
                </li>
                <li>
                    <p>
                        <code>start-date-placeholder</code>
                        if defined, placeholder attribute of startDate Datepicker will be set with this value
                    </p>
                </li>
                <li>
                    <p>
                        <code>end-date-placeholder</code>
                        if defined, placeholder attribute of endDate Datepicker will be set with this value
                    </p>
                </li>
                <li>
                    <p>
                        <code>range-min</code>
                        <code>(Defaults:1)</code>
                        minimum of ranges between Datepickers dates.
                    </p>
                </li>
                <li>
                    <p>
                        <code>range-max</code>
                        maximum of ranges between Datepickers dates
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>

</html>